{% extends 'base.html.twig' %}

{% block title %}Edit Singer{% endblock %}

{% block body %}
    <h1>Edit Singer</h1>

    {{ include('singer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('singer_index') }}">back to list</a>

    {{ include('singer/_delete_form.html.twig') }}
{% endblock %}
