{% extends 'base.html.twig' %}

{% block title %}New Singer{% endblock %}

{% block body %}
    <h1>Create new Singer</h1>

    {{ include('singer/_form.html.twig') }}

    <a href="{{ path('singer_index') }}">back to list</a>
{% endblock %}
