<div class="site-error">

    <h1>Error</h1>

    {% if message != '' %}
        <span class="subheading">{{ message }}</span>
    {% endif %}

    <p>
        The above error occurred while the Web server was processing your request.
    </p>
    <p>
        Please contact us if you think this is a server error. Thank you.
    </p>

</div>
